@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ff8343;
  --secondary: #f1dec6;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  @apply bg-color-50;
}

h2 {
  @apply text-primary text-3xl sm:text-4xl font-semibold mb-3;
}
h3 {
  @apply text-2xl font-bold mb-3;
}

button {
  @apply rounded-md px-3 py-2 transition delay-150 duration-300 hover:scale-105 flex gap-2 items-center shadow-md whitespace-nowrap;
}

button.primary {
  @apply bg-primary text-white;
}

button.secondary {
  @apply bg-white text-primary border-2 border-primary;
}

button.delete {
  @apply bg-red-500 text-white;
}

button.cancel {
  @apply bg-gray-500 text-white;
}

input,
textarea,
select {
  @apply bg-white/80 border-2 border-color-800 rounded-md p-2 focus:outline-none focus:border-primary mb-1 w-full shadow-md text-black;
}

input:disabled {
  @apply bg-color-800/20 cursor-not-allowed;
}

label {
  @apply text-gray-500 text-sm;
}

.box {
  @apply rounded-lg bg-color-100 shadow-xl;
}

/* to przeszkadalo mi w karcie produktu w galerii miniatur, dawalo podwojny pasek do przewijania  i wogole brzydkie to bylo */
/* ::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px var(--secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 20px;
} */

.full {
  min-height: calc(100vh - 60px);
}
